.navegacion{
    .navbar{
        .container{
            .Title{
            color: aliceblue;
            font-size: 35px;
            }
            
        }
    }
}
.body{
    .Welcome{
           color: rgb(41, 209, 41);
           
        
    }
}